* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-header{
    background: #E7F2F8;
}
.main-header > div {
    display: inline-block;
}
.main-header__nav{
    display: inline-block;
}

.main-header__nav-list {
    list-style: none;
    text-align: right;
}

.main-header__nav-item{
    display: inline-block;
}