#product-overview {
  background: url("freedom-day.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 700px;
  padding: 20px;
}

#product-overview h1 {
  margin: 0;
  color: rgb(252, 146, 46);
  font-size: xx-large;
}

.plan_list{
  width: 80%;
  margin: auto;
  text-align: center;
}
.section-title {
  color: mediumspringgreen;
  text-align: center;
}

.product {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 10px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.product--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.product__title {
  color: rgb(255, 166, 0);
  font-size: 30px;
}

.product__price {
  color: rgb(77, 77, 77);
}

.product__recommended {
  background: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.product--highlighted .product__title {
  color: white;
}

.product__features {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product__feature {
  margin: 16px 0px;
}

.button {
  background: rgb(77, 77, 77);
  color: white;
  font: inherit;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid rgb(77, 77, 77);
}

.button:hover,
.button:active {
  background-color: white;
  color: rgb(77, 77, 77);
}

#key-features {
  background: rgb(255, 93, 120);
  padding: 16px;
  margin-top: 50px;
}

#key-features .section-title {
  color: white;
  margin: 32px;
}

.key-features__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.key-feature {
  display: inline-block;
  margin: 0px 16px;
  width: 30%;
  vertical-align: top;
}

.key-feature__image {
  background-color: rgb(255, 189, 189);
  width: 128px;
  height: 128px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 auto;
}

.key-feature__description {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: white;
}
