h1 {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Helvetica {
  font-family: Helvetica, san-serif;
}

#Arial {
  font-family: Arial, Helvetica, sans-serif;
}

#San-Serif {
  font-family: sans-serif;
}

#Serif {
  font-family: serif;
}
#Hepta-Slab {
  font-family: "Hepta Slab";
}
